<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button>
    <span (click)="goToAccueil()">SimSSE Editeur</span>
  </button>

  <ng-container *ngIf="scenario">
    <span>
      <mat-icon id="arrow">arrow_forward_ios</mat-icon>
    </span>

    <button
      mat-mini-fab
      [style.background]="button.getButtonByType('scenario').color"
      disabled
    >
      <mat-icon [fontIcon]="button.getButtonByType('scenario').icon"></mat-icon>
    </button>

    <button *ngIf="scenario" mat-button>
      <span (click)="goToScenario()">{{ scenario.title }}</span>
    </button>
  </ng-container>

  <ng-container *ngIf="plastron || modele">
  <span >
    <mat-icon id="arrow">arrow_forward_ios</mat-icon>
  </span>

  <div >
    <button
      mat-mini-fab
      [style.background]="button.getButtonByType(plastron?'plastron':'modele').color"
      disabled
    >
      <mat-icon [fontIcon]="button.getButtonByType(plastron?'plastron':'modele').icon"></mat-icon>
    </button>
  </div>

  <button mat-button>
    <span>{{ plastron?plastron:modele }}</span>
  </button>

  <app-triage *ngIf="triage" [triage]="triage"></app-triage>


  <button
    mat-icon-button
    [matTooltip]="
      plastron
        ? 'Enregister le plastron ' + plastron
        : 'Enregister le scenario' + scenario?.title
    "
    (click)="save()"
    [ngClass]="{ activate: changesToSave }"
    [disabled]="!changesToSave"
  >
    <mat-icon>save</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Enregister le plastron actuel en tant que nouveau modele"
    (click)="saveAsNewModele()"
  >
    <mat-icon>note_add</mat-icon>
  </button>
</ng-container>

  <button
    *ngIf="plastron"
    mat-icon-button
    matTooltip="Télécharger la fiche plastron au format PDF"
    (click)="saveAsPDF()"
  >
    <mat-icon>picture_as_pdf</mat-icon>
  </button>

  <span class="example-spacer"></span>

  <button mat-icon-button (click)="goToRules()">
    <mat-icon>assignment</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
