#controls {
  position: fixed;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}


::ng-deep .mxTooltip{
  background-color: white !important;
  font-size: medium !important;
}