<div class="container">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="form">
      <table
      *ngIf="groupes"
        mat-table
        [dataSource]="groupes"
        class="mat-elevation-z8 demo-table"
        formArrayName="groupes"
      >
        <!-- Scene Column -->
        <ng-container matColumnDef="scene">
          <th mat-header-cell *matHeaderCellDef>Scène</th>
          <td mat-cell *matCellDef="let element">{{ element.scene }}</td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>

        <!-- Keys Column -->
        <ng-container *ngFor="let key of keysGroup" [matColumnDef]="key">
          <th mat-header-cell *matHeaderCellDef>{{ key }}</th>
          <td mat-cell *matCellDef="let element ; let rowIndex = index" [formGroupName]="rowIndex">
            <ng-container *ngIf="!isEditable(key)">
              {{ element[key] }}
            </ng-container>
            <mat-form-field *ngIf="isEditable(key)">
              <input matInput type="number" [value]="element[key]" [formControlName]="key" />
            </mat-form-field>
          </td>
          <td
            mat-footer-cell
            *matFooterCellDef
            [ngClass]="getTotal(key) == scenario[key] ? 'ok' : 'noOk'"
          >
            {{ getTotal(key) }}
          </td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button (click)="addGroup()">
              <mat-icon>add</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button
              mat-icon-button
              [disabled]="groupes.length < 2"
              (click)="deleteGroup(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsGroup"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsGroup"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsGroup"></tr>
      </table>
    </form>
    </div>
    <div class="col-6">
      <app-carte [data]="groupPositions" (positionsChange2)="updatePosition($event)"></app-carte>
    </div>
  </div>
</div>
