mat-form-field {
    width: 100%;
    margin: 1%;
    display: flex;

}

.container {
    display: flex;
    margin: 1%;
}

mat-card{
    margin: 1%;
    display: flex;
}

button{
  margin-left: 1%;
}

.tab{
    flex-direction: column;
}

.plastron {
    display: flex;
    margin: 1%;
}

.left {
    flex-grow: 1
}

.right {
    flex-grow: 1
}

.description{
    max-width: 300px;
}


tr.mat-mdc-footer-row td{
  font-weight: bold;
  background-color: rgb(243, 243, 243);
}

.ok{
  color: green;
}

.noOk{
  color: red;
}
