mat-form-field {
    width: 100%;
    margin: 1%;
    display: flex;

}

.container {
    display: flex;
    margin: 1%;
}

mat-card{
    margin: 1%;
    display: flex;
}

.tab{
    flex-direction: column;
}

.plastron {
    display: flex;
    margin: 1%;
}

.left {
    flex-grow: 1
}

.right {
    flex-grow: 1
}

.description{
    max-width: 300px;
}