<app-header
  [scenario]="scenario"
  [changesToSave]="changesToSave"
  (newSave)="save()"
></app-header>
<mat-tab-group (selectedTabChange)="reloadPlastron($event)">
  <mat-tab label="Informations générales">
    <app-general-infos
      [scenario]="scenario"
      (newTotalPlastron)="totalPlastron = $event; "
      (updateScenario)="changesToSave = true; scenarioToSave = true"
      (updateTags)="changesToSave = true"
      (map)="map = $event"
    ></app-general-infos>
  </mat-tab>
  <mat-tab label="Groupes">
    <app-groupes
      *ngIf="groupes"
      [scenario]="scenario"
      [groupes]="groupes"
      [groupeRecapValues]="groupeRecapValues"
      [map]="map"
      (updateGroupes)="changesToSave = true; groupesToSave = true"
      (updateScenario)="changesToSave = true; scenarioToSave = true"
    ></app-groupes>
  </mat-tab>
  <mat-tab label="Plastrons et modèles" class="plastrons">
    <ng-container *ngIf="totalPlastron">
      <app-lot-plastrons
        [scenario]="scenario"
        [totalPlastron]="totalPlastron"
        [groupes]="groupeRecapValues"
        [plastrons]="plastrons"
      ></app-lot-plastrons>
    </ng-container>
  </mat-tab>
</mat-tab-group>
