mat-form-field {
    width: 100%;
    margin: 1%;
    display: flex;
}

.container {
    display: flex;
    margin: 1%;
    max-width: 100%;
}

mat-card{
    margin: 1%;
    display: flex;
}

button{
  margin-left: 1%;
}

.tab{
    flex-direction: column;
}

.plastron {
  padding: 0;
}

.modele {
  padding: 0;
}

.left {
    flex-grow: 1
}

.right {
    flex-grow: 1
}




tr.mat-mdc-footer-row td{
  font-weight: bold;
  background-color: rgb(243, 243, 243);
}

.ok{
  color: green;
}

.noOk{
  color: red;
}


td{
  max-width: 150px;
}


.row{
  max-width: 100%;
width: 100%;
}


.description-row{
  height: 0;
}

mat-select{
  font-size: small;
}

mat-option{
  font-size: small;
}




.cdk-drag-animating{
  transition: transform 250ms cubic-bezier(0,0,0.2,1);
}


.box:not(.cdk-drag-placeholder){
  transition: transform 250ms cubic-bezier(0,0,0.2,1);
  transform: 0;
}

