<div class="container">
  <h1 mat-dialog-title>
    {{ title }}
    <button
      *ngIf="getIcon(element)"
      mat-mini-fab
      [style.background]="getColor(element)"
      disabled
    >
      <img [src]="getIcon(element)" class="icon" />
      <!--       <mat-icon [fontIcon]="getIcon(element)"></mat-icon> -->
    </button>
  </h1>

  <mat-dialog-content [formGroup]="form">
    <ng-container *ngFor="let champ of champs">
      <div *ngIf="!isHidden(champ)" mat-dialog-content>
        <mat-form-field appearance="fill" *ngIf="getType(champ) != 'boolean'">
          <mat-label>{{ getLabel(champ) }}</mat-label>

          <input
            *ngIf="
              getType(champ) == 'text' ||
              getType(champ) == 'number' ||
              getType(champ) == 'color'
            "
            matInput
            [formControlName]="champ"
            [type]="getType(champ)"
          />

          <mat-select
            *ngIf="getType(champ) == 'liste'"
            [formControlName]="champ"
          >
            <mat-option *ngFor="let elem of map | keyvalue" [value]="elem.key">

              <div *ngIf="element['type'] == 'link'" class="listIcon">
                <img [src]="getIcon(elem.value)" class="icon" />
              </div>
              {{ getName(elem.value) }}
            </mat-option>
          </mat-select>

          <mat-select
            *ngIf="getType(champ) == 'listeGroupe'"
            [formControlName]="champ"
          >
            <mat-optgroup
              *ngFor="let group of map | keyvalue "
              [label]="group.value.category"
              [disabled]="group.value.disabled"
            >
              <mat-option
                *ngFor="let elem of group.value.elements | keyvalue "
                [value]="elem.key"
              >
                {{getName(elem.value) }}
                <mat-icon
                  *ngIf="element['type'] == 'link'"
                
                ></mat-icon>
              </mat-option>
            </mat-optgroup>
          </mat-select>

            <!-- [fontIcon]="getIcon(elem.value)" -->

          <mat-error>
            {{ getLabel(champ) }} est <strong>requis</strong>
          </mat-error>
        </mat-form-field>

        <div *ngIf="getType(champ) == 'boolean'" class="noOverflow">
          <mat-label>{{ getLabel(champ) }}</mat-label>
          <mat-radio-group [formControlName]="champ">
            <mat-radio-button
              *ngFor="let elem of getGroup(champ)"
              [value]="elem"
              >{{ elem }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </ng-container>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Annuler</button>
      <button mat-button (click)="save()" [disabled]="isErrorInForm()">
        Enregistrer
      </button>
      <button *ngIf="edition" mat-button (click)="delete()">Supprimer</button>
    </div>
  </mat-dialog-content>
</div>
