.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    max-width: 100%;
}

.row{
    width: 100%;
    --bs-gutter-x:0;
}

#barre-outils{
    background-color: aliceblue;
}

#inspecteur{
    background-color:beige;
}