<mat-grid-list cols="5" >
    <mat-grid-tile
        colspan="1"
        rowspan="2"
        [style.background]='"lightblue"'>
      <app-barre-outils></app-barre-outils>
    </mat-grid-tile>
    <mat-grid-tile
    colspan="3"
    rowspan="1"
    [style.background]='"lightgreen"'>
    lightgreen
</mat-grid-tile>

<mat-grid-tile
colspan="1"
rowspan="2"
[style.background]='"lightpink"'>
<app-inspecteur></app-inspecteur>
</mat-grid-tile>

<mat-grid-tile
colspan="3"
rowspan="1"
[style.background]='"lightgreen"'>
lightgreen
</mat-grid-tile>
  </mat-grid-list>
  