<mat-grid-list cols="5" >

  <div class="container">
    <div class="row">
      <div class="col-1" id="barre-outils">
        <app-barre-outils (newElement)="addElement($event)"></app-barre-outils>
      </div>
      <div class="col-9">
        <div class="row">
          <app-scene [curves]="curves" [triggeredEvents]="triggeredEvents" [duration]="duration"  [nodes]="nodes" (updateTrigger)="updateTriggers($event)"></app-scene>
        </div>
        <div class="row">
          <app-editeur-graphe-nodal [nodes]="nodes" [links]="links" (updateNode)="updateNodes($event)" (updateLink)="updateLinks($event)"></app-editeur-graphe-nodal>
        </div>
      </div>
      <div class="col-2" id="inspecteur">
        <app-inspecteur [variables]="targetVariable" [trends]="trends" (updateVariable)="updateVariables($event)"></app-inspecteur>
      </div>
    </div>
  </div>
