<h1 mat-dialog-title>{{ graph.name }}</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>

    <input matInput [(ngModel)]="graph.name" />
  </mat-form-field>
<!-- 
  <app-editeur-graphe-nodal
    [graph]="graph"
    (updateNode)="updateNodes($event)"
  ></app-editeur-graphe-nodal>
 -->
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button (click)="save()">Enregistrer</button>
    <button mat-button (click)="delete()">Supprimer</button>
  </div>
</mat-dialog-content>
