<app-header
  *ngIf="modele"
  [modele]="modele"
  [changesToSave]="changesToSave"
  (newModele)="saveAsNewModel($event)"
  (newSave)="save()"
></app-header>
<mat-tab-group>
  <mat-tab label="Cas clinique">
    <app-editeur
      *ngIf="modele"
      [modele]="modele"
      [targetVariable]="targetVariable"
      [variablesTemplate]="variablesTemplate"
      [disabledInspecteur]="true"
      (newChange)="changesToSave = true"
      (updateNode)="changesToSave = true; saver.nodeToUpdate.push($event)"
      (deleteNode)="changesToSave = true; saver.nodeToDelete.push($event)"
      (updateLink)="changesToSave = true; saver.linkToUpdate.push($event)"
      (deleteLink)="changesToSave = true; saver.linkToDelete.push($event)"
      (updateTrigger)="
        changesToSave = true; saver.triggerToUpdate.push($event)
      "
      (deleteTrigger)="
        changesToSave = true; saver.triggerToDelete.push($event)
      "
    ></app-editeur>
  </mat-tab>
  <mat-tab label="Tags et descriptions">
    <app-tags-descriptions
      *ngIf="allTags"
      [modele]="modele"
      [chooseTitle]="true"    
      [allTags]="allTags"
      (updateModele)="changesToSave = true; saver.champToUpdate.push($event)"
      (newTags)="
        changesToSave = true;
        saver.newTags = $event.newTags;
        saver.tagsToDelete = $event.tagsToDelete
      "
    ></app-tags-descriptions>
  </mat-tab>
</mat-tab-group>
