<app-header
  *ngIf="modele"
  [modele]="modele.title"
  [triage]="modele.triage"
  [changesToSave]="changesToSave"
  (newSave)="save()"
></app-header>
<mat-tab-group>
  <mat-tab label="Cas clinique">
    <app-editeur
      *ngIf="modele"
      [modele]="modele"
      [targetVariable]="targetVariable"
      [variablesTemplate]="variablesTemplate"
      [disabledInspecteur]="true"
      (newChange)="changesToSave = true"
      (updateNode)="changesToSave = true; nodeToUpdate.push($event)"
      (deleteNode)="changesToSave = true; nodeToDelete.push($event)"
      (updateLink)="changesToSave = true; linkToUpdate.push($event)"
      (deleteLink)="changesToSave = true; linkToDelete.push($event)"
      (updateTrigger)="
        changesToSave = true; newTrigger = true; triggerToUpdate.push($event)
      "
      (deleteTrigger)="
        changesToSave = true; newTrigger = true; triggerToDelete.push($event)
      "
    ></app-editeur>
  </mat-tab>
  <mat-tab label="Tags et descriptions">
    <app-tags-descriptions
      *ngIf="allTags"
      [modele]="modele"
      [allTags]="allTags"
      (newModel)="changeModeleRef($event)"
      (newDescription)="changesToSave = true; newModele = $event"
      (newTags)="
        changesToSave = true;
        newTags = $event.newTags;
        tagsToDelete = $event.tagsToDelete
      "
    ></app-tags-descriptions>
  </mat-tab>
</mat-tab-group>
