<div class="container">
  <h1 mat-dialog-title>{{titre}}
    <button mat-mini-fab  disabled [id]="id">
      <mat-icon  [fontIcon]="icon"></mat-icon>
    </button>
  </h1>

  <mat-dialog-content *ngIf="data && !noEditable" [formGroup]="form">

    <div mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Évenement</mat-label>
        <mat-select formControlName="event">
          <mat-option *ngFor="let event of events" [value]="event[1]">
            {{event[0].event}} <mat-icon  [fontIcon]="button.getButtonByType(event[0].type).icon"></mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Temps </mat-label>
        <input matInput formControlName="xAxis">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Annuler</button>
      <button mat-button (click)="save()">{{validate}}</button>
      <button *ngIf="isEdition" mat-button (click)="delete()">Supprimer</button>
    </div>

  </mat-dialog-content>
</div>
