<h1 mat-dialog-title>{{titre}}</h1>

<mat-dialog-content *ngIf="data" [formGroup]="form">

  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Evenement</mat-label>
      <mat-select formControlName="eventId">
        <mat-option *ngFor="let event of events" [value]="event[1]">
          {{event[0].name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Temps </mat-label>
      <input matInput formControlName="xAxis">
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button (click)="save()">{{validate}}</button>
    <button *ngIf="isEdition" mat-button (click)="delete()">Supprimer</button>
  </div>

</mat-dialog-content>
