<div class="container">
  <h1 mat-dialog-title>{{title}}
    <button *ngIf="element" mat-mini-fab  disabled [style.background]="getColor()">
      <mat-icon  [fontIcon]="getIcon()"></mat-icon>
    </button>
  </h1>

  <mat-dialog-content *ngIf="data && !noEditable" [formGroup]="form">

    <div mat-dialog-content *ngIf="isTrigger">
      <mat-form-field appearance="fill">
        <mat-label>Évenement</mat-label>
        <mat-select formControlName="in">
          <mat-option *ngFor="let event of events" [value]="event.template?event.template.id:event.id">
            {{event.template?event.template.name:event.event}} <mat-icon  [fontIcon]="Button.getButtonByType(event.typeEvent).icon"></mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-content *ngIf="!isTrigger">
      <mat-form-field appearance="fill">
        <mat-label>Nom </mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Temps </mat-label>
        <input matInput formControlName="time">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Annuler</button>
      <button mat-button (click)="save()">{{validate}}</button>
      <button *ngIf="isEdition" mat-button (click)="delete()">Supprimer</button>
    </div>

  </mat-dialog-content>
</div>
