<app-header
  *ngIf="plastron.modele"
  [scenario]="scenario"
  [plastron]="plastron.modele.title"
  [triage]="plastron.modele.triage"
  [changesToSave]="changesToSave"
  (newModele)="saveAsNewModel($event)"
  (newSave)="savePlastron($event)"
  (newPDF)="exportAsPdf($event)"
>
</app-header>
<mat-tab-group>
  <mat-tab label="Modèle - cas clinique">
    <app-editeur
      [modele]="plastron.modele"
      [targetVariable]="targetVariable"
      (newChange)="changeGraph($event)"
    ></app-editeur>
  </mat-tab>
  <mat-tab label="Modèle - tags et descriptions">
    <app-tags-descriptions
      [modele]="plastron.modele"
      (newChange)="changeModele()"
    ></app-tags-descriptions>
  </mat-tab>
  <mat-tab label="Profil">
    <app-profil [profil]="plastron.profil" (newChange)="changeProfil()"></app-profil>
  </mat-tab>
</mat-tab-group>
