<app-header
  *ngIf="plastron.modele"
  [scenario]="scenario"
  [plastron]="plastron.modele.title"
  [triage]="plastron.modele.triage"
  [changesToSave]="changesToSave"
  (newModele)="saveAsNewModel($event)"
  (newSave)="save()"
  (newPDF)="exportAsPdf($event)"
>
</app-header>
<mat-tab-group>
  <mat-tab label="Modèle - cas clinique">
    <app-editeur
      *ngIf="plastron.modele"
      [modele]="plastron.modele"
      [targetVariable]="plastron.profil.targetVariable"
      [variablesTemplate]="variablesTemplate"
      (newCurve)="changeCurves($event)"
      (newChange)="changesToSave = true; modeleToSave = true"
      (updateNode)="
        changesToSave = true; modeleToSave = true; saver.nodeToUpdate.push($event)
      "
      (deleteNode)="
        changesToSave = true; modeleToSave = true; saver.nodeToDelete.push($event)
      "
      (updateLink)="
        changesToSave = true; modeleToSave = true; saver.linkToUpdate.push($event)
      "
      (deleteLink)="
        changesToSave = true; modeleToSave = true; saver.linkToDelete.push($event)
      "
      (updateTrigger)="
        changesToSave = true;  saver.triggerToUpdate.push($event)
      "
      (deleteTrigger)="
        changesToSave = true;   saver.triggerToDelete.push($event)
      "
    ></app-editeur>
  </mat-tab>
  <mat-tab label="Modèle - tags et descriptions">
    <app-tags-descriptions
      *ngIf="allTags"
      [modele]="plastron.modele"
      [allTags]="allTags"
      (newModel)="changeModeleRef($event)"
      (updateModele)="changesToSave = true; modeleToSave = true ; saver.champToUpdate.push($event)"
      (newTags)="
        changesToSave = true;
        saver.newTags = $event.newTags;
        saver.tagsToDelete = $event.tagsToDelete
      "
    ></app-tags-descriptions>
  </mat-tab>
  <mat-tab *ngIf="plastron.profil" label="Profil">
    <app-profil
      [profil]="plastron.profil"
      (newChange)="changeProfil()"
    ></app-profil>
  </mat-tab>
</mat-tab-group>
