<h1 mat-dialog-title>Modifier le noeud</h1>

<mat-dialog-content [formGroup]="form">

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
</div>

<div *ngIf="data.type == 'trend'" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Cible </mat-label>
    <input matInput formControlName="cible">
  </mat-form-field>
</div>


<div *ngIf="data.type == 'trend'" mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Pente </mat-label>
      <input matInput formControlName="pente">
    </mat-form-field>
</div>


<div *ngIf="data.type == 'event'" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Evénement </mat-label>
    <input matInput formControlName="event">
  </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="save()">Enregistrer les modifications</button>
  <button mat-button >Supprimer</button>
</div>

</mat-dialog-content>