<h1 mat-dialog-title>Modifier le noeud</h1>

<mat-dialog-content [formGroup]="form">

  <div *ngFor="let champ of champs" mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>{{champ}}</mat-label>
      <input matInput [formControlName]="champ" [type]="getType(champ)">
    </mat-form-field>
  </div>


<div *ngIf="node.type == 'link'" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Source</mat-label>
    <mat-select formControlName="source">
      <mat-option *ngFor="let node of nodes" [value]="node.id">
        {{node.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="node.type == 'link'" mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Cible</mat-label>
    <mat-select formControlName="target">
      <mat-option *ngFor="let node of nodes" [value]="node.id">
        {{node.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="node.type == 'link'" mat-dialog-content>
    <mat-label>Effet</mat-label>
      <mat-radio-group formControlName="start" aria-label="Select an option">
        <mat-radio-button [value]="true">Start</mat-radio-button>
        <mat-radio-button [value]="false">Stop</mat-radio-button>
      </mat-radio-group>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="save()">Enregistrer les modifications</button>
  <button mat-button (click)="delete()">Supprimer</button>
</div>

</mat-dialog-content>
