<!-- Plastrons  -->
<div class="container" id="general">
  <div class="information-text">
    Préparez ici vos plastrons. A gauche, vous avez la liste des plastrons du
    scenario. Choisissez pour chacun d'entre eux un modèle
    traumato-physiopathologique de même triage et faîte glisser ce modèle
    au-dessus de la ligne du plastron. Vous pourrez ensuite éditer le modèle et
    le profil du plastron en question. Vous pouvez aussi assigner les plastrons
    à un groupe.
  </div>
  <div class="container" cdkDropListGroup>
    <mat-card class="scrollable-content">
      <mat-card-header>
        <mat-card-title
          >Plastrons
          <button
            mat-mini-fab
            [style.background]="Button.getButtonByType('plastron')?.color"
            disabled
          >
            <mat-icon>{{ Button.getButtonByType("plastron")?.icon }}</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>

      <div>
        <table
          mat-table
          #table
          *ngIf="sortedDataSourcePlastron"
          [dataSource]="sortedDataSourcePlastron"
          multiTemplateDataRows
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          cdkDropListData="sortedDataSourcePlastron"
          cdkDropListDisabled="true"
          matSort
          (matSortChange)="sortData($event)"
        >
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by id"
              matTooltip="Numéro identifiant chaque plastron, en fonction de l'ordre de création. Trier par numéro pour remettre les plastrons dans l'ordre de création."
            >
              N°
            </th>
            <td id="numero" mat-cell *matCellDef="let element">
              {{ element.numero }}
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Titre du modèle traumato-physiopathologique associé au plastron. Trier par ordre alphabétique."
            >
              Modèle
            </th>
            <td id="title" mat-cell *matCellDef="let element; let i = index">
              <div
                class="container"
                [ngClass]="{ drag: !element.idPlastron }"
                (mouseup)="mouseup(element)"
                (mouseleave)="mouseleave()"
              >
                <button
                  mat-button
                  (click)="goToPlastron(element.idPlastron)"
                  [disabled]="!element.idPlastron"
                >
                  {{ element.title }}
                </button>
                <button
                  mat-icon-button
                  (click)="deletePlastron(i, element)"
                  [disabled]="!element.idPlastron"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <!-- Triage Column -->
          <ng-container matColumnDef="triage">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Triage du plastron. Trier par triage (EU - UA - UR)."
            >
              Triage
            </th>
            <td mat-cell *matCellDef="let element">
              <app-triage [triage]="element.triage"></app-triage>
            </td>
          </ng-container>

          <!-- Group Column -->
          <ng-container matColumnDef="groupe">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Groupe d'appartenance du plastron. Trier par scène."
            >
              Groupe
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <mat-select
                  [(value)]="element.groupe"
                  (selectionChange)="updateGroup($event, element)"
                >
                  <mat-option
                    *ngFor="let groupe of groupes"
                    [value]="groupe.scene"
                  >
                    {{ groupe.scene }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Statut Column -->
          <ng-container matColumnDef="statut">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              matTooltip="Etat d'avancement du plastron. Trier par statut (à faire - en cours - terminé)."
            >
              Statut
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field appearance="fill">
                <mat-select
                  [(value)]="element.statut"
                  [disabled]="element.id == -1"
                  (selectionChange)="updateStatut($event, element)"
                >
                  <mat-select-trigger
                    [ngClass]="{ finished: element.statut == 'Terminé' }"
                    ><mat-icon *ngIf="element.statut == 'Terminé'"
                      >check_circle</mat-icon
                    >
                    {{ element.statut }}</mat-select-trigger
                  >
                  <mat-option value="En cours">En cours</mat-option>
                  <mat-option value="A faire">A faire</mat-option>
                  <mat-option value="Terminé"
                    ><mat-icon>keyboard_arrow_down</mat-icon>Terminé</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th
              mat-header-cell
              *matHeaderCellDef
              matTooltip="Cliquez pour voir le profil et la description du plastron"
            >
              Description
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="expand row"
                [disabled]="element.id == -1"
                (click)="expandElement($event, element)"
              >
                <mat-icon *ngIf="expandedElement !== element"
                  >keyboard_arrow_down</mat-icon
                >
                <mat-icon *ngIf="expandedElement === element"
                  >keyboard_arrow_up</mat-icon
                >
              </button>
            </td>
          </ng-container>

          <!-- expanded Description Column -->
          <ng-container matColumnDef="expandedDescription">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="displayedColumnsPlastron.length"
            >
              <div
                class="expanded row"
                [@descriptionExpand]="
                  element === expandedElement ? 'expanded' : 'collapsed'
                "
                [ngClass]="{ collapsed: element !== expandedElement }"
              >
                <div class="age">Âge : {{ element.age }}</div>

                <div id="variant">
                  {{
                    element.variant ? "Variante du modèle" : "Modèle standard"
                  }}
                </div>

                <div id="description">
                  {{ element.description }}
                </div>
              </div>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumnsPlastron; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsPlastron"
            cdkDrag
            [cdkDragData]="row"
            [class.expandedDescription]="expandedElement === row"
            (click)="expandedElement = expandedElement === row ? null : row"
            class="box hover"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDescription']"
            class="description-row"
          ></tr>
        </table>
      </div>
    </mat-card>

    <div id="arrow"><mat-icon>keyboard_backspace</mat-icon></div>

    <app-list-box
      title="Modèles traumato-physiologiques"
      [service]="modeleService"
      [classe]="Modele"
      style="max-height: 720px"
    ></app-list-box>
  </div>
</div>
