mat-form-field{
    width: 300px;
  }
  
  
  ::ng-deep .mat-mdc-dialog-content{
    padding: 0 !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
  


  ::ng-deep .mat-mdc-text-field-wrapper{
    background-color: white !important;
  }
  
  
  mat-option{
    font-weight: lighter;
  }
  
  input{
    font-weight: lighter !important;
  }
  
  ::ng-deep .mat-mdc-select-value{
    font-weight: lighter !important;
  
  }
  
  
  