
<div class="button-container">
  <button mat-icon-button (click)="add(Trigger)">
    <mat-icon [fontIcon]="Button.getButtonByType('trigger').icon"></mat-icon>
  </button>
  <button mat-icon-button (click)="add(Timestamp)">
    <mat-icon [fontIcon]="Button.getButtonByType('timestamp').icon"></mat-icon>
  </button>
</div>

<div *ngIf="initialChartOption" echarts [options]="initialChartOption" [merge]="mergeOptions" class="demo-chart" (chartInit)="onChartInit($event)" (chartClick)="onChartClick($event)" (chartLegendSelectChanged)="onChartLegendSelectChanged($event)"></div>
