
<div class="button-container">
  <button mat-icon-button (click)="addTrigger()">
    <mat-icon [fontIcon]="button.getButtonByType('trigger').icon"></mat-icon>
  </button>
  <button mat-icon-button (click)="addTimeStamp()">
    <mat-icon [fontIcon]="button.getButtonByType('timestamp').icon"></mat-icon>
  </button>
</div>

<div *ngIf="initialChartOption" echarts [options]="initialChartOption" [merge]="mergeOptions" class="demo-chart" (chartInit)="onChartInit($event)" (chartClick)="onChartClick($event)" (chartLegendSelectChanged)="onChartLegendSelectChanged($event)"></div>
