<div *ngIf="element" class="container">
  <div class="row">

    <div *ngIf="element['triage']" class="col-2 image">
      <div *ngIf="element['triage']=='UA'" class="triage" id="UA">UA</div>
      <div *ngIf="element['triage']=='UR'" class="triage" id="UR">UR</div>
      <div *ngIf="element['triage']=='EU'" class="triage" id="EU">EU</div>
    </div>

    <div *ngIf="element['image']" class="col-2 image">
      <img src='{{ "assets/images/" + element["image"] + ".jpg" }}'/>
    </div>

    <div class="col-9 texte">
        <h2>{{element.titre}}</h2>
        <div id="description">
          <textarea disabled [value]="element.description"></textarea>
        </div>
    </div>
    <div class="col-1 buttons">
        <button
          mat-mini-fab
          (click)="goToElement(element.id)">
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-mini-fab
          (click)="removeElement()">
          <mat-icon>delete</mat-icon>
        </button>
    </div>
  </div>
</div>
