<mat-divider></mat-divider>
<div *ngIf="element" class="container">
  <div *ngIf="element['triage']" class="image">
    <app-triage [triage]="element['triage']"></app-triage>
  </div>

  <div *ngIf="!element['triage']" class="image">
    <img [src]="image?.src || 'http://placehold.it/180'" />
  </div>

  <div class="texte">
    <div id="title">
      <button mat-button (click)="goToElement(element.id)">
        <h2>{{ element.title }}</h2>
      </button>
      <div>
        <mat-chip *ngFor="let tag of element.tags |keyvalue; index as i">
          {{ tag.value.value }}
        </mat-chip>
      </div>
    </div>
    <div id="description">
      <textarea disabled [value]="element.description"></textarea>
    </div>
  </div>
  <div class="buttons">
    <button
      mat-icon-button
      (click)="removeElement()"
      [matTooltip]="'Supprimer ' + element.title"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
