<mat-card>
  <mat-card-header>
    <mat-card-title
      >{{ title }}
      <button mat-mini-fab (click)="addElement()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <mat-chip-listbox
        aria-label="Fish selection"
        multiple="true"
        (change)="changeFilter($event)"
      >
        <mat-chip-option *ngFor="let chip of chips; index as i" selected>{{
          chip
        }}</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <mat-list
      cdkDropList
      [cdkDropListData]="elements"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let element of elements">
        <ng-container *ngIf="element['show'] === undefined || element['show']">
          <mat-divider></mat-divider>
          <mat-list-item cdkDrag class="box">
            <app-list-box-element
              [element]="element"
              [type]="classe.className"
            ></app-list-box-element>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
