<mat-card >
  <mat-card-header>
    <mat-card-title>
      <div>
        {{ title }}
      </div>

      <button
        *ngIf="classe"
        mat-mini-fab
        [style.background]="getColor()"
        disabled
      >
        <mat-icon [fontIcon]="getIcon()"></mat-icon>
      </button>

      <button
        mat-icon-button
        (click)="addElement()"
        [matTooltip]="'Ajouter un ' + classe.className"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Filtres </mat-panel-title>
          <mat-panel-description>
            <mat-chip-listbox *ngIf="filtreActif">
              <mat-chip-option *ngFor="let element of filterTag" disabled>{{
                element
              }}</mat-chip-option>
              <mat-chip-option *ngFor="let element of filterTriage" disabled>{{
                element
              }}</mat-chip-option>
            </mat-chip-listbox>

            <div id="noFiltre" *ngIf="!filtreActif">Aucun filtre actif</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button
          mat-button
          color="primary"
          (click)="deleteFilter()"
          [disabled]="!filtreActif"
        >
          Effacer les filtres
        </button>
        <div class="container row filtre" *ngIf="keys?.indexOf('triage') > 0">
          <app-triage-filter
            [multiple]="true"
            (change)="changeFilterTriage($event)"
            [filterTriage]="filterTriage"
          ></app-triage-filter>
        </div>
        <div class="container row filtre">
          <div class="col-1">Tags</div>
          <div class="col-11">
            <mat-chip-listbox
              multiple="true"
              (change)="changeFilterTag($event)"
              [value]="filterTag"
            >
              <mat-chip-option *ngFor="let chip of chips; index as i">{{
                chip.value
              }}</mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="scrollable-content">
      <mat-list
        cdkDropList
        [cdkDropListData]="elements"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngFor="let element of elements">
          <ng-container
            *ngIf="element['show'] === undefined || element['show']"
          >
            <mat-divider></mat-divider>
            <mat-list-item cdkDrag class="box">
              <app-list-box-element
                [service]="service"
                [element]="element"
                [type]="classe.className"
              ></app-list-box-element>
            </mat-list-item>
          </ng-container>
        </ng-container>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
