<app-header
  *ngIf="modele"
  [modele]="modele"
  (newModele)="saveAsNewModel($event)"
></app-header>
<mat-tab-group (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="Tags et descriptions">
    <app-tags-descriptions
      *ngIf="allTags"
      [modele]="modele"
      [chooseTitle]="true"
      [allTags]="allTags"
    ></app-tags-descriptions>
    <mat-tab label="Cas clinique">
      <app-editeur
        *ngIf="modele && editorInit"
        [modele]="modele"
        [targetVariable]="targetVariable"
        [variablesTemplate]="variablesTemplate"
        [disabledInspecteur]="true"
      ></app-editeur>
    </mat-tab>
  </mat-tab>
</mat-tab-group>
