<mat-expansion-panel [expanded]="panelOpenState"
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{variable.nom}}
      </mat-panel-title>
      <mat-panel-description>
 <!--        <button (click)="isOpened = !isOpened"
        #overlayOrigin="cdkOverlayOrigin"
        cdkOverlayOrigin>
        Open Color Picker
  </button>
  
  <popup [overlayOrigin]="overlayOrigin"
          (close)="isOpened = false"
          (open)="isOpened = true">
        <span
          [(colorPicker)]="color"
          [style.background]="color"
          [cpToggle]="true"
          [cpDialogDisplay]="'inline'">
        </span>
  </popup> 
  <input [(colorPicker)]="color" [style.background]="color"/>
-->
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="color_lens"></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="variable" [formGroup]="form">

      <div mat-dialog-content>
          <mat-form-field appearance="fill">
            <mat-label>Cible </mat-label>
            <input matInput type="number" formControlName="cible" (input)="changeValues()" >
          </mat-form-field>
        </div>
  
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Ecart-type </mat-label>
      <input matInput type="number" formControlName="rand" (input)="changeValues()">
    </mat-form-field>
  </div>
  
</div>
</mat-expansion-panel>