<app-header></app-header>

<div class="container">
  <app-tab-regles
    [elements]="variablesDetails"
    title="Variables"
    [classe]="VariablePhysioTemplate"
    (newElement)="addVariable($event)"
    description="bla bla bla"
  ></app-tab-regles>

  <app-tab-regles
    [elements]="events"
    title="Événements"
    [classe]="BioEvent"
    (newElement)="addBioEvent($event)"
    description="bla bla bla"
  ></app-tab-regles>

  <app-tab-regles
    [elements]="actions"
    title="Actions"
    [classe]="Action"
    (newElement)="addAction($event)"
    description="bla bla bla"
  ></app-tab-regles>

  <app-tab-regles
    [elements]="moyennesAge"
    title="Moyenne par âge"
    (newElement)="addBioEvent($event)"
    description="bla bla bla"
  ></app-tab-regles>
</div>
