<h2>Tendance</h2>

<div class="example-button-container">
    <button mat-fab  (click)="onClick('trend')">
        <mat-icon  fontIcon="trending_up"></mat-icon>
    </button>
  </div>
<h2>Evenement</h2>
<div class="example-button-container">
    <button mat-fab  (click)="onClick('event')">
        <mat-icon  fontIcon="event"></mat-icon>
    </button>
  </div>
  <h2>Connection</h2>
  <div class="example-button-container">
      <button mat-fab  (click)="onClick('link')">
          <mat-icon  fontIcon="arrow_right_alt"></mat-icon>
      </button>
    </div>
  